{% extends 'catalog/base.html' %}
{% load base_tags %}

{% block breadcrumbs %}
    <li class="breadcrumbs__item">
        <a class="breadcrumbs__content" href="/">
            <span>
                Главная
            </span>
        </a>
        <span class="breadcrumbs__content">
            /
        </span>
    </li>
{% endblock %}

{% block content %}

    {% show_block_content object.main_content %}

    <div>
        {% for obj in object.root_sections %}
            {% include 'catalog/parts/card.html' %}
        {% endfor %}
    </div>

    {% show_block_content object.bottom_content %}

{% endblock %}