{% extends 'catalog/base.html' %}
{% load base_tags %}

{% block breadcrumbs %}
    <a class="breadcrumbs__item" href="/">
        Главная
    </a>
    <span class="breadcrumbs__item">
        /
    </span>
{% endblock %}

{% block content %}

    {% show_block_content object.main_content %}

    <div>
        {% for obj in object.root_sections %}
            {% include 'catalog/parts/card.html' %}
        {% endfor %}
    </div>

    {% show_block_content object.bottom_content %}

{% endblock %}
