*.orig
*.pyc
*.dmp
*.sql
*.zip
/.settings
/.installed.cfg
/.idea/*
/.vscode/*
/venv/*
/python/*
/bin/*
/eggs/*
/parts/*
/media/*
/node_modules/*
.sublime-gulp.cache
/media.tar
package-lock.json
/{{ project_name }}/settings.py
/{{ project_name }}/templates/service/500.html
/{{ project_name }}/templates/service/404.html
/{{ project_name }}/templates/service/robots.txt