# system wide packages
psycopg2-binary==2.8.6

django==2.2.*
six==1.10.0
unidecode==1.1.0
xlsxwriter==1.1.8
unicodecsv==0.14.1
requests==2.18.4
django-mptt==0.9.1
django-tinymce==2.9.0
dj-pagination==2.4.0
django-modeladmin-reorder==0.3.1
django-filebrowser-no-grappelli==3.8.0

git+https://github.com/shoker174/django-catalog-tree@2.2
git+https://github.com/shoker174/django-treemenus@2.2
git+https://github.com/shoker174/django-simple-feedback.git@2.2
git+https://github.com/shoker174/django-imagekit@support/0.4.x
git+https://github.com/shoker174/django-tinymce-attachment.git@2.2
git+https://github.com/redsolution/django-nocaptcha-recaptcha.git
git+https://github.com/shoker174/django-chunks.git@2.2
git+https://github.com/shoker174/django-easy-news.git@2.2
git+https://github.com/shoker174/django-seo.git@2.2
git+https://github.com/shoker174/django-import-redirects@2.2
git+https://github.com/shoker174/django-page-cms@django-2.2
