@font-face
    font-family: 'Open Sans'
    src: local('Open Sans Light'), local('OpenSans-Light'), url("../font/font.woff2") format('woff2')
    font-weight: 300
    font-style: normal
    font-display: swap