.h1
    color: #eaeaea
    margin-bottom: 40px
    font-weight: 800
    font-size: 60px
    line-height: 82px
    @media screen and (max-width: $sm-max)
        font-size: 48px
        line-height: 56px
        margin-bottom: 32px
    @media screen and (max-width: $xs-max)
        margin-bottom: 24px
        font-size: 24px
        line-height: 33px

.h2
    margin-top: 60px
    margin-bottom: 40px
    font-size: 30px
    line-height: 41px
    color: #303030
    font-weight: 700
    @media screen and (max-width: $sm-max)
        margin-bottom: 32px
    @media screen and (max-width: $xs-max)
        margin-bottom: 16px
        font-size: 22px
        line-height: 30px
        margin-top: 48px

.h3
    margin-top: 60px
    margin-bottom: 40px
    font-size: 24px
    line-height: 33px
    color: #303030
    font-weight: 700
    @media screen and (max-width: $sm-max)
        margin-bottom: 32px
    @media screen and (max-width: $xs-max)
        margin-top: 48px
        margin-bottom: 16px
        font-size: 20px
        line-height: 27px


.h4
    margin-top: 60px
    margin-bottom: 40px
    font-size: 22px
    line-height: 30px
    color: #303030
    font-weight: 700
    text-transform: uppercase
    @media screen and (max-width: $sm-max)
        margin-bottom: 32px
    @media screen and (max-width: $xs-max)
        margin-bottom: 16px
        margin-top: 48px
        font-size: 18px
        line-height: 24px

.h5
    margin-top: 60px
    margin-bottom: 40px
    font-size: 20px
    line-height: 27px
    color: #303030
    font-weight: 700
    @media screen and (max-width: $sm-max)
        margin-bottom: 32px
    @media screen and (max-width: $xs-max)
        margin-bottom: 16px
        margin-top: 48px
        font-size: 17px
        line-height: 23px

.h6
    margin-top: 60px
    margin-bottom: 40px
    font-size: 16px
    line-height: 22px
    color: #303030
    font-weight: 700
    text-transform: uppercase
    @media screen and (max-width: $sm-max)
        margin-bottom: 32px
    @media screen and (max-width: $xs-max)
        margin-top: 48px
        margin-bottom: 16px
        font-size: 14px
        line-height: 19px

.placeholder
    h1
        color: #eaeaea
        margin-bottom: 40px
        font-weight: 800
        font-size: 60px
        line-height: 82px
        @media screen and (max-width: $sm-max)
            font-size: 48px
            line-height: 56px
            margin-bottom: 32px
        @media screen and (max-width: $xs-max)
            margin-bottom: 24px
            font-size: 24px
            line-height: 33px

    h2
        margin-top: 60px
        margin-bottom: 40px
        font-size: 30px
        line-height: 41px
        color: #303030
        font-weight: 700
        @media screen and (max-width: $sm-max)
            margin-bottom: 32px
        @media screen and (max-width: $xs-max)
            margin-bottom: 16px
            font-size: 22px
            line-height: 30px
            margin-top: 48px

    h3
        margin-top: 60px
        margin-bottom: 40px
        font-size: 24px
        line-height: 33px
        color: #303030
        font-weight: 700
        @media screen and (max-width: $sm-max)
            margin-bottom: 32px
        @media screen and (max-width: $xs-max)
            margin-top: 48px
            margin-bottom: 16px
            font-size: 20px
            line-height: 27px


    h4
        margin-top: 60px
        margin-bottom: 40px
        font-size: 22px
        line-height: 30px
        color: #303030
        font-weight: 700
        text-transform: uppercase
        @media screen and (max-width: $sm-max)
            margin-bottom: 32px
        @media screen and (max-width: $xs-max)
            margin-bottom: 16px
            margin-top: 48px
            font-size: 18px
            line-height: 24px

    h5
        margin-top: 60px
        margin-bottom: 40px
        font-size: 20px
        line-height: 27px
        color: #303030
        font-weight: 700
        @media screen and (max-width: $sm-max)
            margin-bottom: 32px
        @media screen and (max-width: $xs-max)
            margin-bottom: 16px
            margin-top: 48px
            font-size: 17px
            line-height: 23px

    h6
        margin-top: 60px
        margin-bottom: 40px
        font-size: 16px
        line-height: 22px
        color: #303030
        font-weight: 700
        text-transform: uppercase
        @media screen and (max-width: $sm-max)
            margin-bottom: 32px
        @media screen and (max-width: $xs-max)
            margin-top: 48px
            margin-bottom: 16px
            font-size: 14px
            line-height: 19px

.placeholder
	font-size: 14px
	line-height: 24px
	color: #303030
	font-weight: 400
	overflow: hidden
	@media screen and (max-width: $sm-max)
	    line-height: 20px
	@media screen and (max-width: $xs-max)
	    font-size: 13px
	    line-height: 18px
	a
		color: #303030
		text-decoration: underline
		&:hover
			text-decoration: none

	& > *:last-child
		margin-bottom: 0 !important
	& > *:first-child
		margin-top: 0 !important


	&--nth2
	    > *:nth-child(2)
	        margin-top: 0 !important
	p
		font-size: 14px
		line-height: 24px
		color: #303030
		font-weight: 400
		@media screen and (max-width: $xs-max)
		    font-size: 13px
		    line-height: 18px
		& > *:last-child:not(img)
			margin-bottom: 0 !important
		& > *:first-child
			margin-top: 0 !important
	p + p
	    margin-top: 16px

	img
		max-width: 100%
		height: auto
		margin-right: 16px
		margin-bottom: 16px
		@media screen and (max-width: $xs-max)
		    margin: 0!important
		    margin-bottom: 24px!important
		    margin-top: 24px!important
		    width: auto!important
		    height: auto!important
		    display: block!important
		    float: none!important
		&[style*="float: left"], &[style*="float:left"]
			margin-right: 32px!important
			margin-bottom: 32px!important
			@media screen and (max-width: $sm-max)
			    margin-right: 20px!important
			    margin-bottom: 20px!important
			@media screen and (max-width: $xs-max)
			    margin: 0!important
			    margin-bottom: 24px!important
			    margin-top: 24px!important
			    max-width: 100%important
			    width: auto!important
			    height: auto!important
			    float: none!important
		&[style*="float: right"], &[style*="float:right"]
			margin-left: 32px!important
			margin-right: 0
			margin-bottom: 32px!important
			@media screen and (max-width: $sm-max)
			    margin-left: 20px!important
			    margin-right: 0
			    margin-bottom: 20px!important
			@media screen and (max-width: $xs-max)
			    margin: 0!important
			    margin-bottom: 24px!important
			    margin-top: 24px!important
			    max-width: 100%important
			    width: auto!important
			    height: auto!important
			    float: none!important

	table img, table iframe,
		max-width: initial !important
		max-height: initial !important

	table
		border-spacing: 0px
		border-collapse: collapse
		width: 100%
		border: none
		text-align: left
		vertical-align: middle
		clear: both
		th, caption, td
			border: none
			& > *:first-child
				margin-top: 0

			& > *:last-child
				margin-bottom: 0
		td
			text-align: left
			color: #303030
			font-weight: 300
			padding: 16px
			max-width: 400px
			font-size: 14px
			line-height: 24px
			@media screen and (max-width: $sm-max)
			    min-width: 250px
			@media screen and (max-width: $xs-max)
			    font-size: 12px
			    line-height: 18px
			    padding: 15px
			p
			    font-size: 14px
			    line-height: 24px
			    margin: 0
			    @media screen and (max-width: $xs-max)
			        font-size: 12px
			        line-height: 18px
			p + p
			    margin-top: 16px
		th
			text-align: left
			color: #303030
			font-weight: 500
			padding: 16px
			max-width: 400px
			font-size: 14px
			line-height: 24px
			@media screen and (max-width: $xs-max)
			    font-size: 12px
			    line-height: 18px
			    padding: 15px
			p
			    font-size: 14px
			    line-height: 24px
			    margin: 0
			    @media screen and (max-width: $xs-max)
			        font-size: 12px
			        line-height: 18px
			p + p
			    margin-top: 16px

		tr
		    border-bottom: #e8e8e8 1px solid

		img
		    max-width: 100% !important
		    max-height: 100% !important
		    vertical-align: top
		    display: inline-block !important
		    margin: 0!important

	.table-wrap
		overflow: auto
		margin-top: 40px
		margin-bottom: 60px
		@media screen and (max-width: $xs-max)
		    margin-top: 28px
		    margin-bottom: 32px

	.iframe-wrap
	    position: relative
	    display: flex
	    overflow: hidden
	    width: 100%
	    &:before
	        content: ''
	        position: relative
	        width: 100%
	        display: block
	        padding-bottom: 56.25%
	    iframe, object, embed
	        position: absolute
	        top: 0
	        left: 0
	        width: 100%
	        height: 100%

	blockquote
		max-width: 90%
		margin: auto
		margin-top: 40px
		margin-bottom: 40px
		font-weight: 500
		font-size: 17px
		line-height: 24px
		color: #666
		font-style: italic
		padding-left: 48px
		position: relative
		min-height: 30px
		@media screen and (max-width: $sm-max)
		    max-width: 100%
		    margin-left: 40px
		    margin-top: 32px
		    margin-bottom: 32px
		@media screen and (max-width: $xs-max)
		    margin-top: 16px
		    margin-bottom: 16px
		    margin-left: 0
		    font-size: 15px
		    line-height: 24px
		&:before
		    content: ''
		    position: absolute
		    top: -2px
		    left: 0
		    pointer-events: none
		    width: 28px
		    height: 30px
		    background-image: url('../img/blockquote-icon.svg')
		    background-size: contain
		    background-repeat: no-repeat
		    background-position: center
		    @media screen and (max-width: $xs-max)
		        top: 2px
		p
		    font-weight: 500
		    font-size: 17px
		    line-height: 24px
		    margin: 0
		    color: #666
		    @media screen and (max-width: $xs-max)
		        font-size: 15px
		        line-height: 24px
		p + p
		    margin-top: 16px

	ul
		margin-top: 16px
		margin-bottom: 16px
		li
			list-style: none
			display: block
			position: relative
			padding-left: 26px
			&::before
				content: ''
				background-color: #93C718
				width: 6px
				height: 6px
				min-width: 6px
				min-height: 6px
				border-radius: 50%
				margin: 0 10px 0 10px
				display: inline-table
				position: absolute
				top: 9px
				left: 0
				@media screen and (max-width: $sm-max)
				    top: 7px
	ol
		margin-top: 16px
		margin-bottom: 16px
		counter-reset: list
		list-style-type: decimal
		li
			list-style: none
			display: block
			padding-left: 36px
			position: relative
			&:before
				margin: 0 10px 0 10px
				counter-increment: list
				content: counter(list) "."
				position: absolute
				left: 0

	hr
		color: #000
		background-color: #000
		margin: 40px 0
		opacity: 0.4
		border: 0px none
		height: 1px
		clear: both
		@media screen and (max-width: $xs-max)
		    margin: 24px 0

	pre
	    white-space: pre-wrap

	strong
	    font-weight: 500

	em
	    font-style: italic